*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000000;
}
.container{
    width:100%;
    height: 100%;
    background: #000000;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin-left: 50px;
    color: aliceblue;
    cursor: pointer;
}
.logo img{
    width: 30px;
    margin-top: -8px;
    margin-right: 50px;
}
.menu .active{
    color: #19dafa;
}
.signup-btn{
    top: 45px;
    right: 120px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border:3px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.signup-btn span{
    display: block;
    border-radius: 20px;
    padding: 8px 22px;
}
.banner{
    margin-left: 130px;
    width: 80%;
    height: 70%;
    top: 230px;
    position: absolute;
    color: #fff;
}
.app-text{
    width: 50%;
    float: left;

}
.app-text h1{
    font-size: 40px;
    width: 640px;
    position: relative;
    margin-left: 100px;
}
.app-text p{
    width: 650px;
    font-size: 20px;
    margin: 30px 0 30px 100px;
    line-height: 25px;
    color: rgb(160, 160, 160);
}
.app-picture img{
    width: 80%;
    padding-left: 400px;
}
.start{
    margin-left: 90px;
    margin-top: 40px;
    text-decoration: none;
    color: #fff;
    border:3px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 130px;
}
.start span{
    display: block;
    border-radius: 20px;
    padding: 8px 22px;
}