<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% load crispy_forms_tags %}

    {# User is something built in Django represent the current user #}
    <h1>{{ user.username }}</h1>
    <img src="{{ user.profile.image.url }}">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fildset dset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy}}
            {{ p_form|crispy}}
            {# form is good, form.as_p will render form in paragraph tags #}
        </fildset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</body>
</html>