<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
    <li><a href="{% url 'homepage' %}"><span>Home</span></a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'message-create' %}" class="logout"><span>New Message</span></a></li>
        <li><a href="{% url 'logout' %}" class="logout"><span>Logout</span></a></li>
        <li><a href="{% url 'profile' %}" class="profile"><span>Profile</span></a></li>
    {% else %}
        <li><a href="{% url 'register' %}" class="signup-btn"><span>Sign Up</span></a></li>
        <li><a href="{% url 'login' %}" class="login"><span>Login</span></a></li>
    {% endif %}
    <h1>MESSAGE BOARD</h1>
    {% block content %}
    {% endblock content %}
</body>
</html>