<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yibeee</title>

    <link rel="stylesheet" type="text/css" ref="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home_page/home_style.css' %}">

</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li class="logo"><img src="{% static 'home_page/logo.png' %}" alt="logo"></li>
                <li class="active">Home</li>
                <li>About</li>
                <li><a href="https://github.com/caoxuCarlos/yibi">GitHub</a></li>
                <li><a href="{% url 'message' %}">Message</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="logout"><span>Logout</span></a></li>
                    <li><a href="{% url 'profile' %}" class="profile"><span>Profile</span></a></li>
                {% else %}
                    <li><a href="{% url 'register' %}" class="signup-btn"><span>Sign Up</span></a></li>
                    <li><a href="{% url 'login' %}" class="login"><span>Login</span></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="banner">
            <div class="app-text">
                <h1>Welcome to Yibeee</h1>
                <p>Something Something Something</p>
                <div class="play-btn">
                    <div class="play-btn-inner"></div>
                </div>
                <div class="start"><span>Get Started</span></div>
            </div>
            <div class="app-picture">
                <img src="{% static 'home_page/yibeee.png' %}" alt="yibee">
            </div>
        </div>
    </div>
</body>
</html>